* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 0; */
}

a {
  text-decoration: none;
  color: #3c96ed;
}

body {
  background: #fafafa;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

#wrapper {
  height: 100vh;
}

.container {
  margin: 0 auto;
  min-height: 100%;
  width: 800px;
  display: flex;
  align-items: center;
}

.column {
  flex-grow: 1;
  width: 50%;
}

.left {
  background-image: url("./assets/basefone.png");
  background-size: 440px;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
}

.right {
  padding-left: 20px;
}

.login-panel {
  background-color: #fff;
  border: 0.5px solid #e6e6e6; 
  text-align: center;
  padding: 20px 0;
}

.logo-img {
  width: 175px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type="password"], input[type="text"]{
  background-color: rgba(250,250, 250, 1);
  border: 1px solid rgb(236,234,234);
  height: 40px;
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px;
  font-size: 13px;
  width: 320px;
  color: #000000;
}

input[type="password"]::placeholder, input[type="text"]::placeholder {
  color: rgb(165, 164, 164);
}

input[type="password"]:focus, input[type="text"]:focus {
  outline: 0;
  border: 1px solid #a1a1a1;
}

input[type="submit"] {
  width: 320px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  border: 0;
  background-color: #3c96ed;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.infobox {
  background-color: #fff;
  height: 60px;
  border: 1px solid rgb(236,234,234);
  margin: 10px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infobox p {
  user-select: none;
}

.infobox p a {
  font-weight: bold;
  user-select: none;
}

.get-app-panel {
  margin-top: 20px;
  text-align: center;
}

.app-buttons {
  margin-top: 16px;
}

.app-buttons img {
  height: 40px;
  padding: 0 2px;
}

/*SLIDER*/

.slider {
  margin: 20px 0 0 122px;
  width: 250px;
  height: 521px;
  overflow: hidden;
}

.slides {
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  /* transition: 0.9s; */
}

.slide img {
  width: 250px;
  height: 521px;
  position: absolute;
  z-index: 10;
}

.manual-nav {
  position: absolute;
  width: 250;
  margin-top: -400px;
  margin-left: 105px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #181818;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  display: none;
}

.manual-btn:not(:last-child) {
  margin-right: 8px;
}

.manual-btn:hover {
  background-color: #181818;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

.navi-auto div {
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  display: none;
}

.navi-auto {
  position: absolute;
  width: 250px;
  margin-left: 9px;
  display: flex;
  justify-content: center;
}

.navi-auto div:not(:last-child) {
  margin-right: 8px;
}

#radio1:checked ~ .navi-auto .btn1 {
  background-color: #20a6ff;
}

#radio2:checked ~ .navi-auto .btn2 {
  background-color: #20a6ff;
}

#radio3:checked ~ .navi-auto .btn3 {
  background-color: #20a6ff;
}

/* End Slider */
